.header_styles {
  display: flex;
  align-items: center;
  padding-left: 110px;
  font-size: 2.5rem;
  font-weight: 900;
  height: 100px;
  background-color: #B2F9FC;
  color: #2ebb8c; 
}
.container{
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  margin: auto;
  justify-content: center;
}

.Todo_card{
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.27);
-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.27);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.27);
  padding: 10px;
  width: 15%;
  height: 150px;
  margin: 20px;
  border: solid 2px;
  border-radius: 10px;
  text-align: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.Todo_card:hover{
  transition: all .3s ease;
  transform:translateY(-10px)
}

.Todo_actions .complete{
 position: absolute;
 bottom: 20px;
 right: 22.5%;
 min-height: 30px;
 border:none;
 margin-top: 10px;
 justify-content: center;
 width: 50%;
 background-color: #2ebb8c;
}
.Todo_actions .reset{
  position: absolute;
  right: 22.5%;
  bottom: 20px;
  min-height: 30px;
  border:none;
  margin-top: 10px;
  justify-content: center;
  width: 50%;
  background-color: rgb(252, 2, 98);
 }

.complete:hover{
  transition: all .5s ease;
  background-color: #B2F9FC;
  color: #2ebb8c;
 }

 .reset:hover{
  transition: all .2s ease;
  background-color: rgb(253, 115, 230);
  color: rgb(252, 2, 98);
 }

 .btn_in_header{
   display: flex;
   align-items: center;
   padding-left: 50%;
   justify-content: space-between;
 }
 .btn_styles{
   margin-left: 40px;
   height: 30px;
   width: auto;
   border:none;
   margin-top: 10px;
   justify-content: center;
   background-color: #2ebb8c;
 }

 .btn_styles:hover{
  transition: all .5s ease;
  background-color: #B2F9FC;
  color: rgb(252, 2, 98);
 }